- hosts: ubuntu
  become: true
  tasks:
  - name: install nginx
    apt:
      name: nginx
      state: present
      update_cache: true


  - name: Copy nginx file over
    copy:
      src: nginx.conf
      dest: /etc/nginx/nginx.conf
    register: nginx_config
  - name: Restart nginx if needed
    service:
      name: nginx
      state: restarted
    when: nginx_config.changed == true
  - name: Check that you can connect (GET) to a page and it returns a status 200    
    ansible.builtin.uri:
      url: http://localhost
      return_content: True
    register: webcontent
  - debug:
      var: webcontent.content